.project p {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

h2 {
    color: rgb(91, 121, 66);
    text-align: center;
    padding: 20px;
}

h4 {
    color: rgb(145, 92, 92);
    text-align: center;
    padding: 20px;
}

.project img {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 400px;
    width: 600px;
    border: solid 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}